.header-container {
    background-color: #FFFFFF;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    display: inline-block;
    border-bottom: 2px solid #3B9E3E;
    padding:10px 0 10px 0;
    font-family: Poppins;
    
}

.img-logo {
    width: 280px;
    height: 60px;
    position: absolute;
    padding:5px 0 5px 25px;
    display: flex;
}

.menu-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 78%;
    height: 10%;
    margin-top: 27px;
    left: 350px;
    
}

.menu {
    text-align: center;
    
}

.menu a {
    color: #3B9E3E;
    text-decoration: none;
    padding: 0px 20px;
    text-align: center;
    font-size: 15px;
    font-style: bold;
}

.menu a:hover {
    color: #d9d9d9;
}

.buttons-container{
    width: 40%;
    
}

.button-login {
    width: 150px;
    height: 25px;
    display: inline-block;
    border-radius: 25px;
    margin-left: 50px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #3B9E3E;
    border: 1px solid;
    border-color: #3B9E3E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.button-login:hover {
    color: #FFFFFF;
    border-color: #d9d9d9;
    background-color: #3B9E3E;
}

.button-cadastre-se {
    width: 150px;
    height: 25px;
    display: inline-block;
    border-radius: 25px;
    cursor: pointer;
    background-color: #3B9E3E;
    color: #FFFFFF;
    border: 1px solid;
    border-color: #3B9E3E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0px 20px;
}

.button-cadastre-se:hover {
    color: #3B9E3E;
    border-color: #3B9E3E;
    background-color: #FFFFFF;
}

section.main {
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}