<script src="https://kit.fontawesome.com/75d97e1a25.js" crossorigin="anonymous"></script>

<div class="header-container">
    <div class="logo">
        <img class="img-logo" src="/assets/img/ImgLogo.png">
    </div>
    <div class="menu-container">
        <div class="menu">
            <a routerLink="/">
                Início
            </a>
            <a routerLink="/quemsomos">
                Quem somos
            </a>
            <a routerLink="/queroadotar">
                Quero adotar
            </a>
            <a routerLink="/querodoar">
                Quero doar
            </a>
            <a routerLink="/faq">
                FAQ
            </a>
        </div>
        <div class="buttons-container">
            <span class="buttons">
                <button class="button-login" href="#" onclick="document.getElementById('id01').style.display='block'">
                    Login
                </button>
                <button class="button-cadastre-se" href="#"
                    onclick="document.getElementById('id02').style.display='block'">
                    Cadastre-se
                </button>
            </span>
        </div>
    </div>
</div>