
h1{
    font-size: 350%;
    padding: 10px;
}
.container-adoacao {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    color: #3B9E3E;
    font-style: bold;
    font-family: Poppins;
    position: relative;
    margin-top: 100px;
}
.caracteristicas{
    margin-bottom: 35.9px;
}
.input-form-adocao {
    border-radius: 25px;
    margin: 1% 16%;
    background-color: #fff;
    border-color: #3B9E3E;
    font-family: Poppins;
    width: 25%;
    padding: 10px;
}

::placeholder {
    color:rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 500;
}
