<app-header></app-header>
<div class="container-adoacao">
    <i class=""></i>
    <h1>Encontre seu novo Pet</h1>
    <div class="caracteristicas">
        <input placeholder="Tipo" class="input-form-adocao">
        <input placeholder="Até qual idade (em meses)" class="input-form-adocao">
        <input placeholder="Gênero" class="input-form-adocao">
        <input placeholder="Cor do pelo" class="input-form-adocao">
        <input placeholder="Porte" class="input-form-adocao">
        <input placeholder="Características" class="input-form-adocao">
        <!-- falta o campo das imagens -->
    </div>
    <span class="buttons">
        <a class="button-cadastre-se" href="#">Buscar</a><br>
    </span>
    <span class="buttons">
        <a class="button-cadastre-se" href="#">Ver mais...</a>
    </span>
</div>
<app-footer></app-footer>