.topico-doacao {
    background-color: #FFFFFF;
    padding: 100px 0;
    border-top: 2px inset #3B9E3E;
    display: flex;
    text-align: center;
    font-size: 12px;
}

.topico-doacao .topico-conteudo-doacao {
    margin: 30px;
    color: #3B9E3E !important;
    font-style: bold;
    font-family: Poppins;
}