<footer class="topicos-rodape">
    <div class="conteudo">
        <i class=""></i>
        <h2>ADOTE</h2>
        <h2>Adote com responsabilidade</h2>
        <h2>Pesquisar animais</h2>
    </div>
    <div class="conteudo">
        <i class=""></i>
        <h2>COLABORE</h2>
        <h2>Doe qualquer valor</h2>
        <h2>Faça parte do Clube do Amigo</h2>
        <h2>Compre nas Lojas Parceiras</h2>
    </div>
    <div class="conteudo">
        <i class=""></i>
        <h2>DIVULGUE UM ANIMAL</h2>
        <h2>Cadastrar animal</h2>
    </div>
    <div class="conteudo">
        <i class=""></i>
        <h2>PERFIL</h2>
        <h2> Minha página de perfil</h2>
        <h2> Cadastre-se</h2>
    </div>
    <!-- faltam as logomarcas das redes sociais -->
</footer>