.login-modal {
    display: none;
    position: absolute;
    left: 40%;
}
/* drop */
.login-modal-content {
    margin: auto;
    background-color: #3B9E3E;
    position: absolute;
}

.login-animate-top {
    position: relative;
    animation: animatetop 0.4s;
}
.input-form {
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
    background-color: #FFFFFF;
}


